@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

:root {
  --color-main: #9f64ff;
  --color-white: #ffffff;
}

header {
  width: 100%;
  height: 6.25rem;
  background: var(--color-main);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36;
  color: var(--color-white);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14;
}
